// See? Bootstrap is here if you want it
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.example-header {
  text-align: center;
  .example-header-title {
    display: block;
    font-weight: bold;
    font-size: 25px;
  }
  .example-header-logo {
    height: 50px;
  }
}
.homepage {
  display: flex;
  flex-direction: column;
  form {
    display: flex;
    justify-content: center;
    .text-input {
      padding: 5px;
    }
  }
  .errors {
    color: red;
  }
  .results {
    display: flex;
    flex-direction: column;
    .info {
      padding-left: 20px;
      p {
        font-size: 12px;
      }
      table {
        width: 100%;
      }
    }
    .map-carousel {
      display: flex;
      flex-direction: row;
      height: 80%;
      .google-map {
        width: 50%;
        .map {
          height: 21em;
          border: '1px solid black';
        }
      }
      .carousel-container {
        width: 50%;
        .carousel.carousel-slider {
          .slider.animated .slide .carousel-img {
            width: auto !important;
          }
        }
      }
    }
  }
}